/* ASIDE LEFT
--------------------------------------------------*/
.profileBackground{
    background-image: url(../images/wavesOpacity.svg);
    background-repeat: no-repeat;
    margin: none;
    padding: none;
}
.asideTitle{
    background-color: goldenrod;
    margin-top: 10px;
    width: 300px;
}

.asideLabel{
    width: 55px;
}

/* ASIDE RIGHT
----------------------------------------------------*/
.asideRight{
    flex-direction: column;
}
.asideRightTitle{
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: center;
}
.asideRightBody{
    padding-top: 3%;
    background-color:grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.asideRightIcon{
    width:80%;
    height:70%;
}
.asideRightLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}