/* ASIDE LEFT
--------------------------------------------------*/
.profileBackground{
    background-image: url(../images/wavesOpacity.svg);
    background-repeat: no-repeat;
    margin: none;
    padding: none;
}
.asideTitle{
    background-color: goldenrod;
    margin-top: 10px;
    width: 300px;
}

.asideLabel{
    width: 55px;
}

/* ASIDE RIGHT
----------------------------------------------------*/
.asideRight{
    flex-direction: column;
}
.asideRightTitle{
    background-color: #16133D;
    color: ivory;
    width: 100%;
    display: flex;
    justify-content: center;
}
.asideRightBody{
    padding-top: 3%;
    background-color:whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.asideRightIcon{
    width:80%;
    height:70%;
}
.asideRightLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

/*FRM POSTS
---------------------------------------------------*/
.frmPosts{
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frmTitle{
    /* display: flex;
    justify-content: center; */
    padding-top: 3%;
}
.frmPostsInput{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.txtPosts{
    width: 80%;
}
.btnPosts{
    width: 15%;
}

/*STORIES
-------------------------------------------*/
.activity{
    
  
}
.posts{
    background-color: whitesmoke;
}
.posterImgStory{
    width:25%;
    height:100%;
    padding: 3%
}
.spnHour{
    font-size: 14px;
}
.spnStory{
    font-size: 20px;
}
.imgStory{
    width: 100%;
}
.emtcStory{
    width: 20%;
}