/* Estilos del CARRUSEL empresas*/
@charset "UTF-8";
.marginCarouselSection {
  max-height: 200px;
}
.containerCompanyCarousel {
  opacity: 90%;
  max-height: 100%;
}
.iconsCarouselSize {
  max-height: 100%;
}
.carouselF {
  display: block;
  font-size: 0;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background: white;
  transform: translateZ(0);
  height: 200px;
  -webkit-overflow-scrolling: touch;
  /* for tablets */
}
.touch .carouselF {
  overflow: auto;
}
.carouselF[data-at*="left"] > .wrap::before {
  opacity: 1;
  text-indent: -50px;
}
.carouselF[data-at*="right"] > .wrap::after {
  opacity: 1;
  text-indent: -50px;
}
.carouselF::after {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 4;
  bottom: -4px;
  left: 0;
  background: #16133d;
  height: 4px;
  border-radius: 4px;
  opacity: 0;
  width: var(--scrollWidth, 0);
  left: var(--scrollLleft, 0);
  transition: opacity 0.2s, bottom 0.2s;
}
.carouselF:hover::after {
  opacity: 1;
  bottom: -10px;
}
.carouselF > .wrap {
  overflow: hidden;
  border-radius: 4px;
}
.carouselF > .wrap::before,
.carouselF > .wrap::after {
  content: "‹";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 50px;
  font-size: 80px;
  text-indent: -30px;
  line-height: 200px;
  font-family: monospace;
  color: #555;
  font-weight: bold;
  border-radius: 8px;
  pointer-events: none;
  transition: 0.2s ease-out;
  background: linear-gradient(to right, white 20%, transparent);
}
.carouselF > .wrap::after {
  transform: rotate(180deg);
  left: auto;
  right: 0;
}
.carouselF > .wrap > ul {
  list-style: none;
  white-space: nowrap;
  height: 200px;
}
.carouselF > .wrap > ul > li {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0 0 0 5px;
  position: relative;
  overflow: hidden;
  transition: 0.25s ease-out;
}
.carouselF > .wrap > ul > li:first-child {
  margin: 0;
}
.carouselF > .wrap > ul > li > img {
  display: block;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
  transition: 1s ease;
}

.carouselF {
  max-width: 100%;
  margin: auto;
}

/* Estilos del HEADER */
.navBackground {
  background-color: #16133d;
}

/* Estilos del HERO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --blue: #007ffc;
  --grey: #f7f8fc;
  --darkBlue: #16133d;
  --mainFont: "Nunito Sans", sans-serif;
  --sideFont: "Poppins", sans-serif;
}
.Hero {
  background-image: url(../images/wavesOpacity.svg);
  background-repeat: no-repeat;
  width: 100%;
  margin: none;
  padding: none;
}
.row {
  margin: 0;
}
.imageHero {
  margin: 0%;
  padding: 0%;
}
.textHero {
  padding-top: 12px;
  padding-left: 30px;
  font-size: 20px;
}
.contentHero {
  font-family: var(--sideFont);
  font-weight: 400;
  font-size: 15px;
  color: #5e6282;
  margin-bottom: 10px;
  margin-left: 15px;
}
.subTitleHero {
  font-weight: bold;
  color: var(--blue);
  margin: 10px;
}
.titleMore {
  font-family: var(--mainFont);
  font-weight: bolder;
  margin-bottom: 15px;
  font-size: 40px;
}
.titleHero {
  font-family: var(--mainFont);
  font-weight: bolder;
  margin-bottom: 15px;
  font-size: 70px;
}
.buttonsHero {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.btnHero {
  margin-left: 30px;
  width: 100px;
  background-color: var(--blue);
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 2;
}
#heroButtonCreate {
  background-color: var(--darkBlue);
}
.btnHero:hover {
  cursor: pointer;
  color: var(--blue);
}
#heroButtonCreate:hover {
  color: #16133d;
}
.btnHero::before {
  content: "";
  position: absolute;
  background-color: var(--grey);
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  transition-duration: 0.2s;
}
.btnHero:hover::before {
  right: 0%;
  z-index: -1;
  opacity: 1;
  transition-duration: 0.2s;
  /* box-shadow: 2px 2px 5px black; */
}
@media (max-width: 700px) {
  .imageHero {
    height: 300px;
  }
  .Hero {
    flex-direction: column-reverse;
  }
  .textHero {
    padding-top: 10px;
  }
}
/* Estilos del CARRUSEL Bianca */
.carouselPositionJobs {
  justify-content: space-around;
}
.buttonCarousel {
  background-color: var(--darkBlue);
  width: 35px;
  height: 35px;
  opacity: 100%;
  border-radius: 10%;
  top: 45%;
}
.carousel-control {
  position: absolute;
  top: 50%;
  display: inline-block;
}
.carousel-control-next-icon {
  background-image: url(../images/next-button-arrowhead.png);
  height: 10px;
  width: 10px;
}
.carousel-control-prev-icon {
  background-image: url(../images/prev-button-arrowhead.png);
  height: 10px;
  width: 10px;
}
.imgCarouselPJ {
  border-radius: 3%;
}

/* Estilos del FOOTER */
footer {
  background-color: #16133d;
}
.footerItem {
  font-family: var(--sideFont);
  font-size: 14px;
  color: gray;
}
.footerSubtitle {
  font-size: 24px;
  color: ivory;
}
.footerTitle {
  font-size: 38px;
  color: ivory;
}
.footerNetworks {
  width: 30px;
}
